* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(../img/rick.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
@font-face {
    font-family: "rickymortyverde";
    src: url(../font/rickymortyverde.ttf);
} 
@font-face {
    font-family: "caligrafia";
    src: url(../font/Calligraphr-Regular.ttf);
}
h1 {
    font-family: "rickymortyverde";
    font-size: 150px;
    height: 500px;
    color: #10adc5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-: violet;

    
}
button {
    background-color: transparent;
    height: 150px;
    width: 200px;
    border-color: transparent;
}
button a{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    font-size: 35px;
    color:#1a2119; 
    font-family: "caligrafia";
    font-style: normal;
    text-decoration: none;
}
button:hover{
    font-style: normal;
    text-decoration: none;
}
img {
    width: 7rem;
    border-radius: 500px;
    margin: 10px;
}
/*-------------------------------------------------------------------*/
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stroke {
    text-shadow: -2px -2px 1px 
    #0a413b, 2px 2px 1px 
    #0a413b, -2px 2px 1px 
    #0a413b, 2px -2px 1px 
    #0a413b, -4px -4px 1px #9ee298,
    4px 4px 1px #9ee298,
    -4px 4px 1px #9ee298,
    4px -4px 1px #9ee298,
    -8px -8px 13px #87cf74,
    8px 8px 13px #87cf74,
    -8px 8px 13px #87cf74,
    8px -8px 13px #87cf74;
    }