* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x:hidden;
}
/*-----------------header---------------------------------*/
header {
    background-color: #D1891C;
    height: 38px;
    display: flex;
    align-items: center;
}
header section p {
    z-index: 3;
    font-weight: 700;
    margin: 15px;    
}
/*--------------------------titulo-----------------------*/
#titulo{
    background-color: #00669F;
    height: 75px;
    color: white;
    padding: 30px;
    position: sticky;
    top:0px;
    z-index: 4;
    margin-bottom: 10px;
}
h1 {
    font-size: 40px;
    font-weight: 700;
}
/*-----------------main---------------------------------*/
/*----------------boton al index-----------------------*/
@font-face {
    font-family: "caligrafia";
    src: url(../font/Calligraphr-Regular.ttf);
}
main #index button {
    width: 100px;
    height: 100px;
    color:black;
    font-family: "caligrafia";
    font-size: 30px;
    font-weight: 700;
    border-radius: 500px;
    border-color: white;
    background-image: url(../img/tierra.jpg);
    background-size: cover;
    position: fixed;
    top:85%;
    left: 90%;
}
main #index button a {
    color: black;
    font-style: normal;
    text-decoration:none;
}
/*-----------------------------------------------------*/
main section {
    display: flex;
    min-height: 75vh;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5%;
    flex-wrap: wrap;
}
.fondo {
    width: 370px;
    height:250px;
    border-radius: 15px 15px 0px 0px ;
}
article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}
main section div {
    width:370px;
    background-color: #F3F3F3;
    height: 400px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main section div p {
    position: absolute;
    bottom:34%;
    padding: 0 30px 0;
    font-weight: 400;
    z-index: 3;
}
.foto-perfil{
    position: absolute;
    bottom: 55%;
    z-index: 1;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main section h2 {
    position: absolute;
    bottom: 48%;
    z-index: 2;
}
button {
    position: absolute;
    bottom: 5%;
    z-index: 1;
    width: 129px; 
    height: 49px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #00669F;
    border-color: transparent;
}
section .corazon {
    position: absolute;
    top: 4%;
    left: 10%;
    z-index: 3;
}
/*-----------------footer---------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #00669F;
    height: 75px;
    padding: 30px 0 0 30px;
    margin-top: 10px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;

}
footer img {
    width: 124px;
    height: 34px;
    position: absolute;
    right: 5%;
    top:35%;
}
