* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x:hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}
/*-----------------header---------------------------------*/
div section {
    background-color: #D1891C;
    height: 4vh;
    display: flex;
    align-items: center;
}
div section p {
    z-index: 3;
    font-weight: 700;
    padding: 30px;    
}
/*--------------------------titulo-----------------------*/
header{
    background-color: #00669F;
    height: 12vh;
    color: white;
    position: sticky;
    top:0px;
    z-index: 4;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
h1 {
    font-size: 40px;
    font-weight: 700;
}
/*-----------------main---------------------------------*/
/*----------------boton al index-----------------------*/
@font-face {
    font-family: "caligrafia";
    src: url(../font/Calligraphr-Regular.ttf);
}
main #index button {
    width: 100px;
    height: 100px;
    color:black;
    font-family: "caligrafia";
    font-size: 30px;
    font-weight: 700;
    border-radius: 500px;
    border-color: white;
    background-image: url(../img/tierra.jpg);
    background-size: cover;
    position: fixed;
    top:50%;
    right: 3%;
    z-index: 4;
} 
#index a {
    color: black;
    font-style: normal;
    text-decoration:none;
}
main #index button p {
    width: 100px;
    height: 100px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----------------------------------------------------*/
main section {
    display: flex;
    min-height: 70vh;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5%;
    flex-wrap: wrap;
}
.fondo {
    width: 300px;
    height:193px;
    border-radius: 15px 15px 0px 0px ;
}
article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    width: 300px;
}
main section div {
    width:300px;
    background-color: #F3F3F3;
    height: 336px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main section div p {
    position: absolute;
    top:25%;
    width: 267px;
    padding: 0 20px 0;
    /*margin: 0px ;*/
    font-weight: 400;
    z-index: 3;
    font-size: 15px;
}
.foto-perfil{
    position: absolute;
    bottom: 55%;
    z-index: 1;
    border-radius: 100px;
    width: 122px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main section h2 {
    position: absolute;
    bottom: 48%;
    z-index: 2;
    font-size: 30px;
    line-height: 35.16px;
}
button {
    position: absolute;
    bottom: 5%;
    z-index: 1;
    width: 129px; 
    height: 49px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #00669F;
    border-color: transparent;
}
section .corazon {
    position: absolute;
    top: 4%;
    left: 10%;
    z-index: 3;
}
/*-----------------footer---------------------------------*/
footer {
    width: 100%;
    background-color: #00669F;
    margin-top: 10px;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 14vh;
}
footer p{
    color: white;
    margin: 50px;

}
footer img {
    width: 124px;
    height: 34px;
    margin: 50px;
}
