body {
    font-family: 'STIX Two Math', serif;
    width: 100%;
}
#banner {
    
    background-image: url(../img/code1.gif);
    height: 390px;
    background-repeat: repeat;
    background-size: cover;
}
#foto {
    background-color: #E5E5E5;
    
}

#foto, h1, footer {
    text-align: center;
}
h1, h3 {
    color: #479099;
}
.lista-datos {
    font-style: italic;
    font-weight: bold;
}
dt {
    font-weight: bold;
}
.skills {
    background-color: #479099;
    color: white;
}
footer {
    background-color: #479099;
    color:#FFFFFF;
}
.fab {
    font-size: 2rem;
    color: white;
}
/*----------------boton al index-----------------------*/
@font-face {
    font-family: "caligrafia";
    src: url(../font/Calligraphr-Regular.ttf);
}
main #index button {
    width: 100px;
    height: 100px;
    color:black;
    font-family: "caligrafia";
    font-size: 30px;
    font-weight: 700;
    border-radius: 500px;
    border-color: white;
    background-image: url(../img/tierra.jpg);
    background-size: cover;
    position: fixed;
    top:85%;
    left: 90%;
}
main #index button a {
    color: black;
    font-style: normal;
    text-decoration:none;
}
