body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
button {
    font-family: 'Roboto', sans-serif;
}
/*---------------menu inicial----------------*/
header {
    background-color: black;
    color: white;
}
#idioma-moneda {
    font-size: 15px;
    font-weight: 400;
    font-weight: lighter;
}
.botones-configuracion {
    background-color: black;
    color: white;
    /*border-color: black;*/
    border-radius: 10px;
}
.flechita {
    width: 10px;
    height: 10px;
}
/*---------------menu principal----------------*/
#menu-nav {
    background-color: #F0A83E;
    color: white;
    font-weight: 500;
}
#menu-nav span{
    color: black;
}
#menu-nav h3 {
    font-size: 25px;
    font-weight: 700;
}
/*---------------banner----------------*/
#banner {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    height: 750px;
    text-align: center;
    font-size: 16px;
}
#banner h2 {
    background-color: white;
    font-size: 30px;
}
#banner button {
    background-color: #F0A83E;
    font-size: 17px;
    color: white;
    border-radius: 3px;
    border-width: 0;
}
/*---------------productos destacados----------------*/
h1 {
    font-size: 40px;
    text-align: center;
}
#destacados .paw-grande {
    width: 120px;
}
#destacados nav {
    color:#666666;
    font-weight: 500;
}
.nombre-articulo {
    font-size: 15px;
}
.precio-articulo {
    font-size: 15px;
    color:#F0A83E;
}
/*---------------suscripcion----------------*/
#formulario h2 {
    color:#3C2313;
}
#formulario button {
    color:white;
    background-color: #8A8787;
    border-width: 0;
    border-radius: 10px;
}
#formulario button div {
    color:white;
    background-color: #F0A83E;
    border-width: 0;
    border-radius: 10px;
}
/*---------------barra suscripcion------------*/
#suscripcion {
    color: white;
    background-color:#F0A83E;
}
#suscripcion p {
    color: #A0A0A0;
    background-color: white;
}
#suscripcion button {
    background-color: #3C2313;
    border-radius: 10px;
    border-width: 0;
    color: white;
}
/*---------------datos-negocio----------------*/
#datos-negocio {
    background-color: #3C2313;
}
footer {
    color: white;
}
footer h3 {
    font-size: 25px;
}
footer h3 span {
    color:#F0A83E;
}
footer nav dl dd {
    color:#8A8787;
    font-size: 15px;
}
footer div {
    background-color: black;
    text-align: center;
}

